<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>达内虚拟课堂-demo</title>
<link type="text/css" rel="stylesheet" href="../../static/css/index.css" />
<script type="text/javascript" src="../../static/js/jquery-1.js">
</script>
<script type="text/javascript" src="../../static/js/static.js">
</script>
<script type="text/javascript">
	//遮盖层 -开始
	function getPageSizeWithScroll(){
	    if (window.innerHeight && window.scrollMaxY) {// Firefox  
	        yWithScroll = window.innerHeight + window.scrollMaxY;  
	        xWithScroll = window.innerWidth + window.scrollMaxX;  
	    } else if (document.body.scrollHeight > document.body.offsetHeight){ // all but Explorer Mac  
	        yWithScroll = document.body.scrollHeight;  
	        xWithScroll = document.body.scrollWidth;  
	    } else { // works in Explorer 6 Strict, Mozilla (not FF) and Safari  
	        yWithScroll = document.body.offsetHeight;  
	        xWithScroll = document.body.offsetWidth;  
	    }  
	    return [xWithScroll, yWithScroll];  
	} 

	function SuperMan_show_bg() {  
		var de = document.documentElement;  
		var size = getPageSizeWithScroll();  
		$("#crm_tarena_bg").css({left:0, top:0, width:'100%', height:'100%' }).show();
	}
	function SuperMan_hide_bg() {  
		$("#crm_tarena_bg").hide(); 
	}
//遮盖层 -结束	
	
		function turnon(){
			//location.href = basePath + "zjtest/turnon";
            SuperMan_show_bg();
            $.ajax({
                type:"get",
                url: basePath + "zjtest/turnon",
                dataType: "text",
                success: function (data) {
                    SuperMan_hide_bg();
		     		$("#status_span").html(data);
		     	},
		     	error:function (state){
		     		alert("error")
		     	}
            })


		}
		
		function turnoff(){
			
			//location.href = basePath + "zjtest/turnoff";
            if(confirm("确认关机？")){
                SuperMan_show_bg();
                $.ajax({
                    type:"get",
                    url: basePath + "zjtest/turnoff",
                    dataType: "text",
                    success: function (data) {
                        SuperMan_hide_bg();
                        $("#status_span").html(data);
                    },
                    error:function (state){
                        alert("error")
                    }
                })
            }

		}
		
		function checkState(){
			$.ajax({
				type: "get", 
				url: basePath + "zjtest/checkAjaxStatus/",
				dataType: "text",
		     	success: function (data) {
		     		//alert(data)
		     		$("#status_span").html(data);
		     	},
		     	error:function (state){
		     		alert("error")
		     	}
			});
			//location.href = "http://192.168.118.142:8000/zjtest/checkComStatus";
		}
		
		function loginComputer(){
			$(".myiframe").attr("src","https://120.132.66.186/");
		}

        function loginWindows(){
             if(!+[1,]){
                 //alert("这是ie浏览器");
                 $(".myiframe").attr("src","https://180.150.178.28/RDWeb");
             }
             else alert("暂时仅支持IE，请使用IE浏览器");

		}
		function isOk(){
			$.ajax({
				type: "post", 
				url: E_URL+"/login/out/"+user.sessionid, 
				dataType: "html/text",
		     	success: function (data) {
					var href = location.href;
					if( href.indexOf("/web/user/userinfo.html") > -1 ){
						locationToHref("");
					}
					history.go(0);
		     	}
			});
		}

    function createNewMochine(){
        alert("新创建虚拟机请付费")

    }

    /*function crateHadoop(){
        $("#hadoopnodes").css({left:500, top:100 }).show();
    }

    function nodesure(){
        $("#hadoopnodes").css({left:500, top:100 }).hide();
    }*/
	</script>
</head>

<body>
<div id="hadoopnodes" style="display:none; position:absolute;width:300px;height:200px;background-color: #E6E6E6 ;">
    hadoop配置：<br>
    请指定主机：<input type="text"><br>
    请输入hadoop的节点数量：<input type="text"><br>
    <button onclick="nodesure()"> 确定 </button>

</div>
<div id="crm_tarena_bg" style="display:none;  
    background-color: #E6E6E6 ;
    filter:alpha(opacity=80);/*IE*/  
    opacity:0.8;/*FF*/  
    z-index:99999;  
    position:absolute;
    background:url(../../static/img/wait.jpg) center center no-repeat;"></div>
<div class="wrap clearfloat">
  <div class="subbox"><a>实验室</a><a class="cur">在线code</a></div>
  <div class="mainbox">

    <div class="mainbox_1" style="display:none;">

        <div class="boxwrap">
        <div class="viewStatus"><input name="" type="button" class="btn" value="查看状态" onclick="checkState()"><span>当前状态：</span><strong id="status_span" >running</strong></div>
        <div class="operationbox clearfloat">
          <input name="" type="button" class="btn" value="开机" onclick="turnon()">
          <input name="" type="button" class="btn" value="关机" onclick="turnoff()">
          <input name="" type="button" class="btn" value="创建新主机" onclick="createNewMochine()">
          <input name="" type="button" class="btn" value="修改主机配置">
          <input name="" type="button" class="btn" value="创建mysql服务">
          <input name="" type="button" class="btn" value="创建redis服务">
          <input name="" type="button" class="btn" value="创建hadoop集群" onClick="crateHadoop()">
            <input name="" type="button" class="btn" value="创建kafka集群服务">
            <input name="" type="button" class="btn" value="创建zookeeper集群服务">

        </div>
        <div class="operationbox clearfloat">
          <input name="" type="button" class="btn" value="登录主机" onclick="loginComputer()">
          <a href="https://120.132.66.186/">登录主机</a>
            <span style=" margin-left: 250px;">windows用户请点击这里（仅支持IE）：</span>
            <input name="" type="button" class="btn" value="登录windows" onclick="loginWindows()" style="float:right; margin-right: 300px;">
        </div>
        <div class="iframebox"><iframe class="myiframe"></iframe></div>
      </div>

    </div>
    
    <div class="mainbox_2">
      <div class="codebox">
        <div class="codesub"><p class="clearfloat"><a onclick="submit_run_java()">运行</a><a onclick="submit_coding()">编译</a></p></div>
        <pre id="editor"></pre>
      </div>
      <div class="coderun_result" style="padding-left: 10px;"></div>
    </div>


      <div class="tcbg"></div>
        <div class="tcbox"><div class="tcclose"></div>
          <ul>
              <li><span>hadoop配置:</li>
              <li><span>请选择主节点：</span><input name="" type="text" class="inp_text"></li>
            <li><span>请输入hadoop的节点数量：</span><input name="" type="text" class="inp_text"></li>
            <li><input name="" type="button" class="btn btn_2" value="确定"><strong></strong></li>
          </ul>
        </div>


  </div>
</div>






<script type="text/javascript" src="../../static/js/jquery-1.js"></script>
<script type="text/javascript" src="../../static/js/ace.js"></script>
<script type="text/javascript" src="../../static/js/ext-language_tools.js"></script>
<script type="text/javascript" src="../../static/js/myjs.js"></script>
</body>
</html>
