<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>达内虚拟课堂-demo</title>
<link type="text/css" rel="stylesheet" href="../../static/css/index.css" />
<script type="text/javascript" src="../../static/js/jquery-1.js">
</script>
<script type="text/javascript" src="../../static/js/static.js">
</script>
<script type="text/javascript">
		
	
		function turnon(){
			location.href = basePath + "zjtest/turnon";
		}
		
		function turnoff(){
			
			location.href = basePath + "zjtest/turnoff";
			
		}
		
		function checkState(){
			$.ajax({
				type: "get", 
				url: basePath + "zjtest/checkAjaxStatus/",
				dataType: "text",
		     	success: function (data) {
		     		//alert(data)
		     		$("#status_span").html(data);
		     	},
		     	error:function (state){
		     		alert("error")
		     	}
			});
			//location.href = "http://192.168.118.142:8000/zjtest/checkComStatus";
		}
		
		function loginComputer(){
			$("#myscreen").attr("src","https://120.132.66.186/");
		}
		
		function isOk(){
			$.ajax({
				type: "post", 
				url: E_URL+"/login/out/"+user.sessionid, 
				dataType: "html/text",
		     	success: function (data) {
					var href = location.href;
					if( href.indexOf("/web/user/userinfo.html") > -1 ){
						locationToHref("");
					}
					history.go(0);
		     	}
			});
		}
	</script>
</head>

<body>
<div class="wrap clearfloat">
  <div class="subbox"><a>实验室</a><a class="cur">在线code</a></div>
  <div class="mainbox">
    <div class="mainbox_1" style="display:none;">
    	<button onclick="checkState()">查看状态</button>
		当前状态:
		
		<span id="status_span">{{ status }}</span>
		<br>
		<button onclick="turnon()">开机</button>
		<button onclick="turnoff()">关机</button>
		<button>创建新主机</button>
		<button>修改主机配置</button>
		
		<div>执行结果：{{statusJson}}</div>
		
		<a href="https://120.132.66.186/" target="_blank">登录主机</a>
		<button onclick="loginComputer()">登录主机</button><br>
		<iframe src="" id="myscreen" style="width:500px;height:400px">
		
		</iframe>
    </div>
    
    <div class="mainbox_2">
      <div class="codebox">
        <div class="codesub"><p class="clearfloat"><a onclick="submit_run_java()">运行</a><a onclick="submit_coding()">编译</a></p></div>
        <pre id="editor"></pre>
      </div>
      <div class="coderun_result" style="padding-left: 10px;"></div>
    </div>
    
  </div>
</div>






<script type="text/javascript" src="../../static/js/jquery-1.js"></script>
<script type="text/javascript" src="../../static/js/ace.js"></script>
<script type="text/javascript" src="../../static/js/ext-language_tools.js"></script>
<script type="text/javascript" src="../../static/js/myjs.js"></script>
</body>
</html>
